:root {
  --pink: #ff688b;
  --yellow: #ffd166;
  --green: #06d6a0;
  --blue: #118ab2;
  --business: #073b4c;
  --personal: #f87575;
  --danger: #c1121f;
  --white: #ffffff;

  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

  --business-glow: 0px 0px 4px rgba(7, 59, 76);
  --personal-glow: 0px 0px 4px rgba(248, 117, 117);

  /* 
  --business-glow: 0px 0px 4px rgba(7, 59, 76, 0.75);
  --personal-glow: 0px 0px 4px rgba(248, 117, 117, 0.75); */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", monospace;
  box-sizing: border-box;
}

body {
  background: #a2d2ff;
  color: black;
  height: 100vh;
  width: 100vw;
  margin: auto;
  overflow: hidden;
}

section {
  margin: 2rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #073b4c;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #073b4c;
}

h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #073b4c;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: initial;
}

p,
p input {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #073b4c;
}

#create-task input[type="text"] {
  background: var(--white);
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1.5rem 0;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

#create-task .options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}

#create-task label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;

}

#create-task label div {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid 2px var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border: solid 2px var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked~.bubble::after {
  width: 0.5rem;
  height: 0.5rem;
  opacity: 1;
}

#create-task input[type="submit"] {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1.5rem 0;
  background: var(--pink);
  box-shadow: var(--personal-glow);
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.2s ease;
  cursor: pointer;
}

#create-task input[type="submit"]:hover {
  background: #ff819e;
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  background-color: var(--yellow);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.todo-list label {
  margin-right: 0.5rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  width: 85%;
  font-size: 1rem;
}

.todo-item .actions button {
  font-size: 0.75rem;
  color: var(--white);
  display: block;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .delete {
  background: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: gray;
}